{% load static %}
<!DOCTYPE html>
<html lang="es">

    <!-- copiar y pegar desde la linea uno hasta el comentario "Header area end" en todas las vistas, para el header.
    Para el footer copiar y pegar desde el comentario "Footer area start" hasta la ultima linea. con esto tendríamos el
    mismo header y footer para todas las paginas. y los archivos estaticos css y js correctos. verificar ruta de imagenes -->
 
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Sede Educativa Puerchag</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- ===================== All CSS Files ===================== -->

    <!-- Style css -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- Responsive css -->
    <link rel="stylesheet" href= "{% static 'css/responsive.css' %}">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Header Area Start -->
    <header class="header_area">
        <!-- Top Header Area Start -->
        <div class="top_header_area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md">
                        <!--  Top Quote Area Start -->
                        <div class="top_quote">
                            <p>Bienvenido al sitio web de la Sede Educativa Puerchag</p>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="login_language_area d-flex align-items-center float-right">
                            <!-- Login Register Area Start -->
                            <div class="login_register">
                                <a href="accounts/login"><i class="fa fa-lock" aria-hidden="true"></i> Ingresar/Registrarse</a>
                            </div>
                            <!-- Language Area Start -->
                            <!-- <div class="language_area">
                                <div class="dropdown">
                                    <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" id="lag" type="button" class="btn btn-default dropdown-toggle"><i class="fa fa-globe" aria-hidden="true"></i> Language</button>
                                    <ul aria-labelledby="lag" class="dropdown-menu">
                                        <li><a href="#">English</a></li>
                                        <li><a href="#">हिन्दी</a></li>
                                        <li><a href="#">বাংলা</a></li>
                                    </ul>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Header Area Start -->
        <div class="main_header_area animated">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-between" id="educampNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="index.html"><img src="static/img/core-img/titulo.png" alt="Logo"></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li class="current_page_item"><a href="index.html">Inicio</a></li>
                                    <li><a href="event-list.html">Eventos</a>
                                        <!-- <ul class="dropdown">
                                            <li><a href="event-grid.html">Cuadícula de Eventos</a></li>
                                            <li><a href="event-list.html">Lista de Eventos</a></li>
                                            <li><a href="event-details.html">Detalles de Eventos</a></li>
                                        </ul> -->
                                    </li>
<!--                                     <li><a href="#">Course</a>
                                        <ul class="dropdown">
                                            <li><a href="course-grid.html">Course Grid</a></li>
                                            <li><a href="course-list.html">Course List</a></li>
                                            <li><a href="course-details.html">Course Details</a></li>
                                        </ul>
                                    </li> -->
                                    <li><a href="#">Paginas de Interés</a>
                                        <div class="megamenu">
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="index.html">Inicio</a></li>
                                                <li><a href="about-us.html">Acerca de nosotros</a></li>
                                                <!-- <li><a href="event-grid.html">Cuadrícula de Eventos</a></li> -->
                                                <li><a href="event-list.html">Eventos</a></li>
                                                <!-- <li><a href="event-details.html">Detalles de Eventos</a></li> -->
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <!-- <li><a href="teachers-details.html">Detalles de Profesores</a></li> -->
                                                <!-- <li><a href="gallery-fullwidth.html">Galería Ancho Completo</a></li> -->
                                                <li><a href="gallery-4-column.html">Galería</a></li>
                                                <!-- <li><a href="gallery-3-column.html">Galería 3 Columnas</a></li>
                                                <li><a href="gallery-2-column.html">Galería 2 Columnas</a></li> -->
                                                <li><a href="single-sidebar.html">Información de Matrícula</a></li>
                                                <!-- <li><a href="course-grid.html">Course Grid</a></li> -->
                                                <li><a href="teachers.html">Nuestros Profesores</a></li>
                                            </ul>
                                            <!-- <ul class="single-mega cn-col-4">
                                                <li><a href="course-list.html">Course List</a></li>
                                                <li><a href="course-details.html">Course Details</a></li> -->
                                                <!-- <li><a href="blog.html">Blog - 1</a></li>
                                                <li><a href="blog-sidebar.html">Blog - 2</a></li>
                                                <li><a href="single.html">Single Blog - 1</a></li>
                                            </ul> -->
                                            <ul class="single-mega cn-col-4">
                                                <!-- <li><a href="code-of-contact.html">Código de Coducta</a></li>
                                                <li><a href="knowledgebase.html">Preguntas Frecuentes</a></li> -->
                                                <li><a href="accounts/login">Ingresar</a></li>
                                                <!-- <li><a href="404.html">404 Not Found</a></li> -->
                                                <li><a href="contact.html">Escríbenos</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                   <!--  <li><a href="#">Others</a>
                                        <ul class="dropdown">
                                            <li><a href="about-us.html">About Us</a></li>
                                            <li><a href="code-of-contact.html">Code of Contact</a></li>
                                            <li><a href="knowledgebase.html">Knowledgebase</a></li>
                                            <li><a href="login.html">Login</a></li>
                                            <li><a href="register.html">Register</a></li>
                                            <li><a href="404.html">404 Not Found</a></li>
                                        </ul>
                                    </li> -->
                                    <li><a href="contact.html">Contáctanos</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!--  ===================== Header Area End ===================== -->


    <!-- ===================== Breadcumb Area Start ===================== -->
    <section class="breadcumb_area" style="background-image: url(static/img/bg-pattern/banner.png);">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcumb_section">
                        <!-- Breadcumb page title start -->
                        <div class="page_title">
                            <h3>Acerca de Nosotros</h3>
                        </div>
                        <!-- Breadcumb page pagination start -->
                        <div class="page_pagination">
                            <ul>
                                <li><a href="index.html">Inicio</a></li>
                                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                <li>Acerca de Nosotros</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ===================== Breadcumb Area End ===================== -->

    <!-- ===================== About Us Area Start ===================== -->
    <section class="about_us_area section_padding_100_70">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 item">
                    <!-- About us text start -->
                    <div class="about_us_text">
                        <h3>Acerca de<span> Sede Educativa Puerchag</span></h3>
                        <p>La sede Educativa Puerchag se encuentra ubicada a 4 km del casco urbano de Samaniego, cuenta con 3 docentes y un director, su planta física es muy agradable, tiene dos pisos y 3 aulas de clases, una sala de informática, una aula múltiple, cocina, restaurante escolar, biblioteca, un patio de recreo y un mini parque recreacional para que los niños puedan disfrutar de sus momentos libres.</p>
                        <p> Además nuestro plantel brinda una  educación  personalizada, lo cual nos permite conocer y atender adecuadamente a los estudiantes, desde diferentes puntos de vista (cognitivo, emocional y todas sus dimensiones).</p>
                    </div>
                    <!-- About us special quote start -->
                    <div class="special_service">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- About us single quote start -->
                                <div class="single_special_service">
                                    <h5><i class="fa fa-check-circle" aria-hidden="true"></i>Educación de Calidad</h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- About us single quote start -->
                                <div class="single_special_service">
                                    <h5><i class="fa fa-check-circle" aria-hidden="true"></i>Espacios de Recreación</h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- About us single quote start -->
                                <div class="single_special_service">
                                    <h5><i class="fa fa-check-circle" aria-hidden="true"></i>Docentes Comprometidos</h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- About us single quote start -->
                                <div class="single_special_service">
                                    <h5><i class="fa fa-check-circle" aria-hidden="true"></i>Seguimiento Constante</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-lg-6 item">
                    <!-- About us thumb start -->
                    <div class="about_us_thumb">
                        <img src="static/img/acerca.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ===================== About Us Area End ===================== -->

    <!-- ===================== Cool Facts Area Start ===================== -->
    <section class="about_cool_facts cool_facts_area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-3">
                   
                    <div class="cool_fact_text">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        <h3><span class="counter">10</span></h3>
                        <h4>Áreas de Educación</h4>
                    </div>
                </div>
                
                 <!-- Single Cool Facts area Start -->
                <div class="col-12 col-md-3">
                    <!-- Single Cool Facts area Start -->
                    <div class="cool_fact_text">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <h3><span class="counter">50</span>+</h3>
                        <h4>Estudiantes Matriculados</h4>
                    </div>
                </div>

                <div class="col-12 col-md-3">
                    <!-- Single Cool Facts area Start -->
                    <div class="cool_fact_text">
                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        <h3><span class="counter">9</span></h3>
                        <h4>Profesores Profesionales</h4>
                    </div>
                </div>

                <!-- <div class="col-12 col-md-3">
               
                    <div class="cool_fact_text">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        <h3><span class="counter">7412</span></h3>
                        <h4>Complate Graduates</h4>
                    </div>
                </div> -->

            </div>
        </div>
    </section>
    <!-- ===================== Why Chooses Area End ===================== -->

    <!-- Our mission area start -->
    <section class="our_mission_vision_area section_padding_100">
        <div class="container">
            <div class="row">
               
                <div class="col-12 col-lg-6">
                    <!-- Our mission thumb start -->
                    <div class="about_us_thumb mission">
                        <img src="static/img/mision.png" alt="">
                    </div>
                </div>
                
                <div class="col-12 col-lg-6">
                    <div class="accordions" id="accordion" role="tablist" aria-multiselectable="true">
                        
                        <!-- Single Accordian Start -->
                        <div class="panel single-accordion">
                            <h5>
                                <a role="button" class="collapsed" aria-expanded="true" aria-controls="educampone" data-parent="#accordion" data-toggle="collapse" href="#educampone">Nuestra Misión
                                    <span class="accor-open">+</span>
                                    <span class="accor-close">-</span>
                                </a>
                            </h5>
                            <div id="educampone" class="accordion-content collapse show">
                                <p>Formar humana y cristianamente a niñas y niños en los niveles de Preescolar y Básica primaria, mediante un currículo académico incluyente, orientado por el constructivismo y la sensibilidad ecológica condiciones básicas para la convivencia y el desarrollo integral del individuo.</p>
                            </div>
                        </div>
                        
                        <!-- Single Accordian Start -->
                        <div class="panel single-accordion">
                            <h5>
                                <a role="button" class="collapsed" aria-expanded="true" aria-controls="two" data-parent="#accordion" data-toggle="collapse" href="#two">Nuestra Visión
                                    <span class="accor-open">+</span>
                                    <span class="accor-close">-</span>
                                </a>
                            </h5>
                            <div id="two" class="accordion-content collapse">
                                <p>Hasta el 2025 la Asociación Educativa Puerchag será reconocida por su impacto pedagógico, fortalecimiento de la Jornada Única con excelencia en la formación integral constituyéndose en referente de calidad para el municipio y el departamento.</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Our mission area end -->

    <!-- ===================== Footer Area Start ===================== -->
    <footer class="footer_area">
        <div class="container">
            <div class="section_padding_100_70">
                <div class="row">
                    <!-- Footer About Area Start -->
                    <div class="col-12 col-md-6 col-lg">
                        <div class="footer_about_us footer-single-part">
                            <div class="title">
                                <h4>Acerca de la plataforma</h4>
                                <!-- Useful Links Title -->
                                <div class="underline"></div>
                            </div>
                            <p>Este sitio web fue desarrollado con propósitos académicos por estudiantes de la Universidad del Valle. ¿Tienes alguna duda? Contáctanos</p>
                            <div class="footer_social_links">
                                <a href="mailto:alexis.timana@correounivalle.edu.co"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                <!-- <a href="#"><i class="icon brands fa-linkedin" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a> -->
                            </div>
                        </div>
                    </div>
                    <!-- Footer About Area End -->

                    <!-- Contact info Area Start -->
                    <div class="col-12 col-md-6 col-lg">
                        <div class="footer_contact_info footer-single-part">
                            <div class="title">
                                <h4>ponte en contacto</h4>
                                <!-- Useful Links Title -->
                                <div class="underline"></div>
                            </div>
                            <!-- single contact info start -->
                            <div class="footer_single_contact_info">
                                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                                <p>Vereda Puerchag, Samaniego, Nariño, Colombia</p>
                            </div>
                            <!-- single contact info start -->
                            <div class="footer_single_contact_info">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <a href="tel:+573146816388">+57 314 681 6388</a>
                            </div>
                            <!-- single contact info start -->
                            <div class="footer_single_contact_info">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                <a href="mailto:puerchageduca8745@gmail.com">Puerchageduca8745@gmail.com</a>
                                <a href="mailto:yelaalvarezj@gmail.com">Yelaalvarezj@gmail.com</a>
                            </div>
                        </div>
                    </div>
                    <!-- Contact info Area End -->

                    <!-- Useful Links Area Start -->
                    <div class="col-12 col-md-6 col-lg">
                        <div class="important_links footer-single-part">
                            <div class="title">
                                <h4>Enlaces útiles</h4>
                                <div class="underline"></div>
                            </div>
                            <!-- Links Start -->
                            <div class="links">
                                <a href="contact.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Contáctanos</a>
                                <a href="event-list.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Calendario de Eventos</a>
                                <a href="accounts/login"><i class="fa fa-angle-right" aria-hidden="true"></i> Ingresa o Regístrate </a>
                                <a href="gallery-4-column.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Galería de Fotos</a>
                                <a href="teachers.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Nuestros Profesores</a>
                                <a href="single-sidebar.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Cómo inscribirse</a>
                            </div>
                        </div>
                    </div>

                    <!-- Useful Links Area Start -->
                    <!-- <div class="col-12 col-md-6 col-lg">
                        <div class="important_links footer-single-part">
                            <div class="title">
                                <h4>Subscribe Newsletter</h4>
                                <div class="underline"></div>
                            </div>
                            <div class="newsletter_from">
                                <form action="#">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" placeholder="Enter Your E-mail" required>
                                    </div>
                                    <button type="submit" class="btn blog-btn w-100">Submit <i class="fa fa-paper-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div> -->

                </div>
            </div>
        </div>

        <!-- Bottom Footer Area Start
        <div class="footer_bottom_area">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="footer_bottom">
                            <p>Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="#">Designing World</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    -- ===================== Footer Area End ===================== -->

    <!-- ===================== All jQuery Plugins ===================== -->

    <!-- jQuery (necessary for all JavaScript plugins) -->
    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Plugins js -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <!-- Classy Nav js -->
    <script src="{% static 'js/classy-nav.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>

</body>

</html>