{% load static %}
<!DOCTYPE html>
<html lang="es">

    <!-- copiar y pegar desde la linea uno hasta el comentario "Header area end" en todas las vistas, para el header.
    Para el footer copiar y pegar desde el comentario "Footer area start" hasta la ultima linea. con esto tendríamos el
    mismo header y footer para todas las paginas. y los archivos estaticos css y js correctos. verificar ruta de imagenes -->
 
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Sede Educativa Puerchag</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- ===================== All CSS Files ===================== -->

    <!-- Style css -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- Responsive css -->
    <link rel="stylesheet" href= "{% static 'css/responsive.css' %}">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Header Area Start -->
    <header class="header_area">
        <!-- Top Header Area Start -->
        <div class="top_header_area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md">
                        <!--  Top Quote Area Start -->
                        <div class="top_quote">
                            <p>Bienvenido al sitio web de la Sede Educativa Puerchag</p>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="login_language_area d-flex align-items-center float-right">
                            <!-- Login Register Area Start -->
                            <div class="login_register">
                                <a href="accounts/login"><i class="fa fa-lock" aria-hidden="true"></i> Ingresar/Registrarse</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Header Area Start -->
        <div class="main_header_area animated">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-between" id="educampNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="index.html"><img src="static/img/core-img/titulo.png" alt="Logo"></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li class="current_page_item"><a href="index.html">Inicio</a></li>
                                    <li><a href="event-list.html">Eventos</a>
                                    </li>
                                    <li><a href="#">Paginas de Interés</a>
                                        <div class="megamenu">
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="index.html">Inicio</a></li>
                                                <li><a href="about-us.html">Acerca de nosotros</a></li>          
                                                <li><a href="event-list.html">Eventos</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="gallery-4-column.html">Galería</a></li>
                                                <li><a href="single-sidebar.html">Infromación de Matrícula</a></li>
                                                <li><a href="teachers.html">Nuestros Profesores</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-4">
                                                <li><a href="accounts/login">Ingresar</a></li>
                                                <li><a href="contact.html">Escríbenos</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="contact.html">Contáctanos</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!--  ===================== Header Area End ===================== -->

    <!-- Breadcumb area start -->
    <section class="breadcumb_area" style="background-image: url(static/img/bg-pattern/banner.png);">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcumb_section">
                        <!-- Breadcumb page title start -->
                        <div class="page_title">
                            <h3>Contáctanos</h3>
                        </div>
                        <!-- Breadcumb page pagination start -->
                        <div class="page_pagination">
                            <ul>
                                <li><a href="index.html">Inicio</a></li>
                                <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                <li>contactar</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcumb area end -->

    <!-- ==================== Message Now Area Start ==================== -->
    <section class="message_now_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Message Title -->
                    <div class="message_title">
                        <h3>¡Envíanos un mensaje ahora!</h3>
                    </div>
                </div>
            </div>
            <!-- .end row -->
            <div class="row">
                <div class="col-12">
                    <form action="/contactar/" method="POST" id="main_contact_form">{% csrf_token %}
                        <!-- Message Input Area Start -->
                        <div class="contact_input_area">
                            <div id="success_fail_info" translate="yes"></div>
                            <div class="row">
                                <!-- Single Input Area Start -->
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control" id="name" placeholder="Tu Nombre *">
                                    </div>
                                </div>
                                <!-- Single Input Area Start -->
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control" id="email" placeholder="Tu Correo *" required>
                                    </div>
                                </div>
                                <!-- Single Input Area Start -->
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="subject" class="form-control" id="subject" placeholder="Asunto *" required>
                                    </div>
                                </div>
                                <!-- Single Input Area Start -->
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <input type="number" name="number" class="form-control" id="number" placeholder="Tu Número *" required>
                                    </div>
                                </div>

                                <!-- Single Input Area Start -->
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea name="message" id="message" class="form-control" cols="30" rows="10" placeholder="Tu Mensaje *" required></textarea>
                                    </div>
                                </div>
                                <!-- Single Input Area Start -->
                                <div class="col-12">
                                    <button type="submit" class="btn btn-default">ENVIAR MENSAJE</button>
                                </div>
                            </div>
                        </div>
                        <!-- Message Input Area End -->
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- ==================== Message Now Area Start ==================== -->

    <!-- ==================== Map and Contact Area Start ==================== -->
    <div class="map_contact_address_area">
        <!-- Map Area Start -->
        <div class="map_area" id="googleMap">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7476691800775!2d-77.59208158255616!3d1.327378499999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e2eb78c304e2a8d%3A0x8e8bf2dd7efdd67!2sSamaniego%2C%20Nari%C3%B1o!5e0!3m2!1ses!2sco!4v1658422570180!5m2!1ses!2sco" frameborder="0" loading="lazy" style="border:0" allowfullscreen referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <!-- ==================== Map and Contact Area End ==================== -->

    <!-- ===================== Footer Area Start ===================== -->
    <footer class="footer_area">
        <div class="container">
            <div class="section_padding_100_70">
                <div class="row">
                    <!-- Footer About Area Start -->
                    <div class="col-12 col-md-6 col-lg">
                        <div class="footer_about_us footer-single-part">
                            <div class="title">
                                <h4>Acerca de la plataforma</h4>
                                <!-- Useful Links Title -->
                                <div class="underline"></div>
                            </div>
                            <p>Este sitio web fue desarrollado con propósitos académicos por estudiantes de la Universidad del Valle. ¿Tienes alguna duda? Contáctanos</p>
                            <div class="footer_social_links">
                                <a href="mailto:alexis.timana@correounivalle.edu.co"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Footer About Area End -->

                    <!-- Contact info Area Start -->
                    <div class="col-12 col-md-6 col-lg">
                        <div class="footer_contact_info footer-single-part">
                            <div class="title">
                                <h4>ponte en contacto</h4>
                                <!-- Useful Links Title -->
                                <div class="underline"></div>
                            </div>
                            <!-- single contact info start -->
                            <div class="footer_single_contact_info">
                                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
                                <p>Vereda Puerchag, Samaniego, Nariño, Colombia</p>
                            </div>
                            <!-- single contact info start -->
                            <div class="footer_single_contact_info">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <a href="tel:+573146816388">+57 314 681 6388</a>
                            </div>
                            <!-- single contact info start -->
                            <div class="footer_single_contact_info">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                <a href="mailto:puerchageduca8745@gmail.com">Puerchageduca8745@gmail.com</a>
                                <a href="mailto:yelaalvarezj@gmail.com">Yelaalvarezj@gmail.com</a>
                            </div>
                        </div>
                    </div>
                    <!-- Contact info Area End -->

                    <!-- Useful Links Area Start -->
                    <div class="col-12 col-md-6 col-lg">
                        <div class="important_links footer-single-part">
                            <div class="title">
                                <h4>Enlaces útiles</h4>
                                <div class="underline"></div>
                            </div>
                            <!-- Links Start -->
                            <div class="links">
                                <a href="contact.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Contáctanos</a>
                                <a href="event-list.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Calendario de Eventos</a>
                                <a href="accounts/login"><i class="fa fa-angle-right" aria-hidden="true"></i> Ingresa o Regístrate </a>
                                <a href="gallery-4-column.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Galería de Fotos</a>
                                <a href="teachers.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Nuestros Profesores</a>
                                <a href="single-sidebar.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Cómo inscribirse</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ===================== Footer Area End ===================== -->

    <!-- ===================== All jQuery Plugins ===================== -->

    <!-- jQuery (necessary for all JavaScript plugins) -->
    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Plugins js -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <!-- Classy Nav js -->
    <script src="{% static 'js/classy-nav.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>

</body>

</html>