{% extends "./base.html" %}

{% block title %}Gestion de Estudiantes{% endblock%}

{% block body %}
    <divc class="row">
        <div class="col-md-4 offset-md-4">
            <h2>Crear Nota</h2>
            <div class="card">
                <div class="card-body">
                    <form action="" method="POST">{% csrf_token%}

                        <div>Periodo:</div>
                        <div class="form-group">
                            <input type="text" id="txtPeriodo" name="txtPeriodo" value="" class="form-control" placeholder="Periodo" minlength="4" maxlength="6" required>
                        </div>

                        <div>Asignatura:</div>
                        <div class="form-group">
                            <input type="number" id="idAsig" name="idAsig" value="{{asig}}" class="form-control" minlength="4" maxlength="6" required>
                        </div>

                        <div>Fecha:</div>
                        <div class="form-group">
                            <input type="date" id="fechaNota" name="fechaNota" class="form-control" placeholder="Fecha Nacimiento"  required>
                        </div>

                        <div>Tipo:</div>
                        <div class="form-group">
                            <select name="Tipo" id="Tipo" class="form-control">
                                <option value="F">Parcial</option>
                                <option value="M">Quiz</option>
                                <option value="F">Tarea</option>
                                <option value="M">Trabajo</option>
                            </select>
                        </div>
                        
                        <div>Comentario:</div>
                        <div class="form-group">
                            <input type="text" id="txtComentario" name="txtComentario" value="" class="form-control" placeholder="Perido" minlength="4" maxlength="6" required>
                        </div>

                        <div>Id Asignatura:</div>
                        <div class="form-group">
                            <select name="numeroIdAsignatura" id="numeroIdAsignatura" class="form-control">
                                {% for results in cursos %}
                                <option value="{{results.id_curso}}">{{results.id_curso}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <br>
                        <div class="form-group">
                            <td><a href="" class="btn btn-success">Agregar Nota</a></td>
                            <td><a href="/agregarNota/" class="btn btn-info btnEliminacion">Cancelar</a></td>
                        </div>

                        <script>
                            
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </divc>
{% endblock %}