{% extends "./base-plataforma.html" %}

{% block title %}Gestion de Profesores{% endblock%}

{% block body %}
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <h2>Gestion de Profesores</h2>
            <div class="card">
                <div class="card-body">
                    <form action="/registrarProfesor/" method="POST">{% csrf_token%}
                        
                        <div>Id Profesor:</div>
                        <div class="form-group">
                            <input type="number" id="numeroId" name="numeroId" class="form-control" placeholder="Identificación" minlength="6" maxlength="15" required>
                        </div>

                        <div>Nombre:</div>
                        <div class="form-group">
                            <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre" minlength="2" maxlength="50" required>
                        </div>

                        <div>Primer Apellido:</div>
                        <div class="form-group">
                            <input type="text" id="txtPrimerApellido" name="txtPrimerApellido" class="form-control" placeholder="Primer Apellido" minlength="2" maxlength="50" required>
                        </div>

                        <div>Segundo Apellido:</div>
                        <div class="form-group">
                            <input type="text" id="txtSegundoApellido" name="txtSegundoApellido" class="form-control" placeholder="Segundo Apellido" minlength="2" maxlength="50" required>
                        </div>
                        
                        <div>Correo Electrónico:</div>
                        <div class="form-group">
                            <input type="text" id="txtEmail" name="txtEmail" class="form-control" placeholder="Correo Electrónico" minlength="6" maxlength="50" required>
                        </div>

                        <div>Teléfono:</div>
                        <div class="form-group">
                            <input type="text" id="txtTelefono" name="txtTelefono" class="form-control" placeholder="Telefono" minlength="7" maxlength="15" required>
                        </div>
                        
                        <div>Contraseña:</div>
                        <div class="form-group">
                            <input type="password" id="pwd" name="pwd" class="form-control" placeholder="Contraseña" minlength="1" maxlength="20" required>
                        </div>

                        <div>Confirmar Contraseña:</div>
                        <div class="form-group">
                            <input type="password" id="pwd2" name="pwd2" class="form-control" placeholder="Escriba nuevamente su contraseña" minlength="1" maxlength="20" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
            <h1>Listado de Profesores</h1>
            <div class="table-responsive py-2">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Apellido</th>
                            <th>Activo</th>
                            <th colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for profesor in profesores %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{profesor.id}}</td>
                                <td>{{profesor.username}}</td>
                                <td>{{profesor.primer_apellido}}</td>
                                <td>{{profesor.segundo_apellido}}</td>
                                <td>{{profesor.vigencia}}</td>
                                <td><a href="/edicionProfesor/{{profesor.id_profesor}}" class="btn btn-info">Editar</a></td>
                                <td><a href="/eliminarProfesor/{{profesor.id_profesor}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}