{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %} 

{% get_providers as socialaccount_providers %}

<head>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<section class="login_area section_padding_100">
  <div class="container">
      <div class="row">
        <!-- style="background-image: url(../../static/img/bg-pattern/courses-bg.jpg);" -->
          <div class="col-12 col-lg-5 col-xl-6 item">
              <!-- Login thumb start -->
              <div class="login_thumb" >
                  <!-- Login thumb caption -->
                  <div class="login_thumb_caption">
                      <h3>¡Bienvenido de vuelta!</h3>
                      <p>Ingrese con su cuenta de Google, o introduzca sus datos aquí:</p>
                  </div>
              </div>
          </div>


          <div class="col-12 col-lg-7 col-xl-6 item">
            <!-- login form start -->
            <div class="login_form">
                <!-- sign in google -->
                <!-- <div class="sign_in_facebook">
                    <a class="btn btn-default" href="#" role="button"><i class="fa fa-facebook"></i>Sign in with Facebook</a>
                </div> -->
                <!-- <div class="sign_in_facebook">
                  <ul>
                    <a class="btn btn-default" role="button"></i>{% include "socialaccount/snippets/provider_list.html" with process="login" %}</a>  
                  </ul>
                  </div> -->
                <div class="google-btn">
                    <div class="google-icon-wrapper">
                      <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                    </div>
                    <a class="btn-text" href = "{% provider_login_url 'google' %}"><b>Ingresar con Google</b></a>
                </div>
                <!-- sign in manual form -->
                <div class="login_manual_form">
                    <p>o</p>
                    <form  class="login ui form" method="POST" action="{% url 'account_login' %}"> 
                      {% csrf_token %}
                      {{ form | crispy }}
                      {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                      {% endif %}
                        <!-- <div class="form-group">
                             action="{% url 'account_login' %}
                            <i class="fa fa-user"></i>
                            <input type="text" name="E-mail" id="user" placeholder="E-mail">
                        </div>
                        <div class="form-group">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                            <input type="password" name="" id="pass" placeholder="Contraseña">
                        </div> -->
                           <button class="primaryAction" type="submit" id="login_submit">{% trans "Sign In" %}</button>
                           <div class="mb-3">
                            <p>Por favor llene el captcha antes de iniciar sesión:</p>
                            <div class="g-recaptcha" data-sitekey="6LfuXgkhAAAAAMT7lzAO9jObbhgKnHDi0tACvgga"></div>
                           </div>
                    </form>
                    <!-- forget password -->
                    <div class="forget_pass one">
                        <a href="{% url 'account_reset_password' %}"><i class="fa fa-question-circle" aria-hidden="true"></i>{% trans "Forgot Password?" %}</a>
                    </div>
                </div>
            </div>
            <!-- login form end -->
        </div>
    </div>
</div>
</section>

{% endblock %}
